.container{
    background-image: url(/assets/image/bg_1.png);
    min-width: 1400px;
    /* background: rgba(76, 161, 247, 0.4); */
    /* background: linear-gradient(to bottom,rgba(34,170,244,0.5),rgba(34,170,244,0.1)); */
}
.main{
    height: 95%;
    border-radius: 20px;
}
.title{
    height: 5%;
}